*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}
article {
    width: 900px;
}

.recipe-title {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.recipe-intro, .recipe-body {
    padding: 50px;
}
.recipe-intro {
    font-size: 1.2em;
    text-align: justify;
    margin-top: 50px;
}
.recipe-body {
    color: gray;
}
#recipe-ing-title, #recipe-dir-title {
    color: black;
    margin-bottom: 20px;
}
.ingredients, .directions {
margin: 40px;
}

ol {
    counter-reset: list;
}
.recipe-intro, ol li, ul li {
    line-height: 30px;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}


ul > li {
    list-style: none;
}
ul > li:before {
    content: "- ";
    
}
.helping-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
  }
  #header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
