*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}
article {
    width: 900px;
}
.recipe-header{
    position: relative;
    text-align: center;
    color: white;
}
.recipe-title {
    font-size: 2.7em;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-intro, .recipe-body {
    padding: 50px;
}
.recipe-intro {
    font-size: 1.2em;
    text-align: justify;
}
#header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .recipe-body {
    color: gray;
}
#recipe-ing-title, #recipe-dir-title {
    color: black;
    margin-bottom: 20px;
}
.ingredients, .directions {
margin: 40px;
}

.recipe-intro, ol li, ul li {
    line-height: 30px;
}

ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}

ul > li {
    list-style: none;
}
ul > li:before {
    content: "- ";
    
}
.helping-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
  }
